* {
  margin: 0;
  padding: 0;
}

.pageOne {
  background-color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background-color: #0b1320;
  position: sticky;
  top: 0;
  z-index: auto;
}

.logo {
  height: 85px;
  width: 190px;
}
.startpoint {
  /* width: 430px; */
  margin-left: 260px;
  display: flex;
  justify-content: flex-end;
}

.nav-bar {
  width: 53vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-content: center; */
  font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
  font-weight: 570;
  font-style: normal;
  font-size: 0.88rem;
  line-height: 1.75;
  color: #3b3f47;
  margin-right: 65px;
}

.nav-bar > a {
  text-decoration: none;
  color: white;
}

.endlogo {
  height: 30px;
  width: 30px;
}

.endpoint {
  width: 250px;
  /* flex-direction: row; */
  /* display: flex;
  justify-content: flex-start;
  align-content: flex-start; */
}
/* The header has been completed */

.pageOneBody {
  height: 100%;
  width: 100%;
  background-color: #c499df;
  /* background-image: url(./components/images/bgg.png); */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.femalePicture {
  height: 500px;
  display: flex;
  margin-top: 30px;
  padding-right: 40px;
}

.pageOneHeader {
  font-family: neue-haas-grotesk-display, Helvetica, sans-serif;
  font-weight: bolder;
  /* font-style: normal; */
  font-size: 5rem;
  line-height: 1;
  margin: 10px 0;
  color: #0b1320;
  word-spacing: 4;
}

.pageOneParag {
  font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #3b3f47;
}
.textPart {
  margin-left: 240px;
  margin-top: 100px;
}

.btnSection {
  height: 150px;
  width: 400px;
  display: flex;
  align-items: center;
}
.btn1 {
  width: 181px;
  padding: 13px;
  border: 1px solid rgb(93, 53, 215);
  background-color: rgb(93, 53, 215);
  margin-right: 5px;
  color: white;
  border-radius: 3px;
  font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
}

.btn2 {
  padding: 13px;
  background-color: transparent;
  border: 1px solid black;
  color: black;
  margin-left: 5px;
  border-radius: 3px;
  width: 181px;
  font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
}
.sideButton {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-self: flex-end;

  font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
}
.sBContainer {
  /* height: 500px; */
  display: block;
  align-items: flex-end;
  position: sticky;
  bottom: 45px;
  z-index: 34px;
}

/* Css for page 2 */

.pageTwoBody {
  height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.pTwoImgSection {
  height: 82%;
  width: 40%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8%;
}

.pTwoPic {
  height: 500px;
  display: flex;
}
.paraSec {
  height: 100vh;
}
.ptag1 {
  height: 250px;
  margin-top: 10px;
  font-size: 35px;
  display: flex;
  align-items: center;

  font-family: neue-haas-grotesk-display, Helvetica, sans-serif;
  font-weight: bolder;
  font-style: normal;
}
.btnblock {
  height: 318px;
  display: flex;
  justify-content: center;
  align-content: space-evenly;
}
.btngroup {
  height: 80px;
  width: 281px;
  padding: 10px;
  border-radius: 10px;
  border: transparent;
  font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.75;
  color: #030916;
}
.directionGroup {
  flex-direction: row;
}

.btnsect1 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 20px;
}
.btnsect2 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* page 3 begins here   */

.page3Body {
  height: 110vh;
  width: 100%;
  background-color: #0b1320;
  color: white;
}

.sect3para {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headOne {
  font-size: 40px;
  margin-bottom: 10px;
  font-family: neue-haas-grotesk-display, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.ptag2 {
  text-align: center;
  font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.75;
  color: #ffffff;
  margin: 10px 0;
}
.iconSect {
  height: 800px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 250px;
}
.ptagText {
  font-weight: 500;
  color: #ffffff;
  font-family: neue-haas-grotesk-display, Helvetica, sans-serif;
  font-weight: 600;
  font-style: normal;
  margin: 10px 0;
}

.icons {
  margin: 20px;
}

h4 {
  font-size: 20px;
  font-family: 'Arial black';
  margin: 10px;
}

.Ptag3 {
  font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.75;
  color: #ffffff;
  margin: 10px 0;
}
.btnIcon {
  padding: 10px;
  color: #e70c0c;
  font-size: 0.95rem;
  background-color: transparent;
  align-content: center;
  font-family: neue-haas-grotesk-text,Helvetica,sans-serif;
  font-weight: 550;
  font-style: normal;
  line-height: 1;
}
.cardRowStart{
  flex-direction: row;
  display: flex;
  align-items: center;
}
.cards {
  height: 400px;
  width: 50%;
}
/* page 4 begins here   */

.page4Body {
  height: 55vh;
  width: 100%;
  background-color: white;
}

.sect4para {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headfour {
  font-size: 40px;
  font-family: 'Arial';
  margin-bottom: 10px;
}
.ptag4 {
  font-family: 'Calibri';
  font-size: 19px;
  text-align: center;
}
.icon4Sect {
  height: 400px;
  width: 100%;
  background-color: white;
}

.batch1 {
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.batch2 {
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.batch3 {
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* page 5 begins here  */

.page5Body {
  height: 58vh;
  width: 100%;
  background-color: rgb(247, 247, 247);
}
.sect5quote {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
.waterstonImage {
  height: 150px;
  width: 160px;
}
.waterston {
  font-size: 55px;
  margin: 45px;
}
.sect5para {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 1px;
}

.ptag5 {
  font-size: 25px;
  margin: 20px;
  text-align: center;
  margin-bottom: 0;
  line-height: 1.5;
  font-style: italic;
  color: #3b3f47;
  font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.headfive {
  font-size: 25px;
  font-weight: 500;
  color: #0b1320;
  font-family: neue-haas-grotesk-display, Helvetica, sans-serif;
  font-weight: 600;
  font-style: normal;
  margin: 10px 0;
  margin-top: 25px;
}

/* page 6 begins here  */

.page6Body {
  height: 70vh;
  width: 100%;
  background-color: white;
}
.headSix {
  height: 200px;
  font-size: 33px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sect6para {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.p6cards {
  width: 17%;
  align-items: center;
  flex-direction: column;
}
.imageStyle {
}
.cardImage {
  width: 100%;
  margin-bottom: 20px;
  max-width: 45rem;
  margin: auto;
}
.cardText {
  color: #0b1320;
  font-family: neue-haas-grotesk-display, Helvetica, sans-serif;
  font-weight: 600;
  font-style: normal;
  margin: 10px 0;
}
.cardDescription {
  font-family: neue-haas-grotesk-text, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.75;
  color: #3b3f47;
  margin: 10px 0;
}
.btn6Icon {
  /* height: 18px; */
  width: 15%;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid white;
  text-align: center;
  padding: 15px;
  font-weight: bold;
  border-radius: 5px;
}
.freshDiv {
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 40px;
}
