* {
  margin: 0;
  padding: 0;
}

.pageOne {
  background-color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

h4 {
  font-size: 20px;
  font-family: 'Arial black';
  margin: 10px;
}
